<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee">
<div class="bg">
  <div class="bg2">
    <app-navbar></app-navbar>

    <div class="container">

    <div class="row justify-content-center" id="espaco">
        <div class="col-md-7">
          <img class="logomeio" src="https://i.imgur.com/tnYh8KD.png" alt="">
            <h1 id="titulo" class="font-weight-light mt-4 align-center">E-commerce</h1>
            <p id="descricao" class="lead text-white align-center">Uma loja de qualidade</p>
        </div>
    </div>
  </div>
</div>
